<div [formGroup]="form">

  <div class="row">

    <div class="col-8">

      <div class="col-12">
        <div class="d-flex w-100 justify-content-start">
          <div *ngIf="!!responseMessage">
            <ngb-alert [type]="hasError ? 'danger' : 'info'" (close)="closeAlert()">
              {{ responseMessage }}
            </ngb-alert>
          </div>
          <div class="flex-grow-1"></div>
          <div class="ml-1 btn"
               [ngClass]="currentView === TABS.ALL ? 'btn-info' : 'btn-outline-info'" (click)="currentView = TABS.ALL">
            ALL
          </div>
          <div class="ml-1 btn"
               [ngClass]="currentView === TABS.AUDIO ? 'btn-info' : 'btn-outline-info'"
               (click)="currentView = TABS.AUDIO">AUDIO
          </div>
        </div>
      </div>

      <ng-container *ngIf="currentView === TABS.ALL">
        <div class="drop-container dropzone" (click)="fileInput.click()" appDragDropFile
             (onFileDropped)="onFileChange($event)">
          <p class="m-0">
            Drag a file here or
            <label class="upload-button">
              <input type="file" #fileInput multiple="" (change)="onFileChange($event)"> browse
            </label>
            to upload.
          </p>
        </div>
      </ng-container>

      <ng-container *ngIf="currentView === TABS.AUDIO">
        <app-my-task-audio-submission [fileInitialName]="'audio'"
                                      (audioOnUpload)="onAudioUpload($event)" [resetAudio]="isUploaded"></app-my-task-audio-submission>
      </ng-container>

      <!--  Selected Files      -->
      <div class="mt-4 row">
        <div class="col-10"><b>Selected Files: </b>
          <span class="text-danger" *ngIf="!!fileSelectionResponseMsg">{{ fileSelectionResponseMsg }}</span>
        </div>

        <ng-container *ngIf="resourceInfos && resourceInfos.length > 0">
          <div class="col-2 btn-link cursor-pointer" (click)="clearAllSelectedFiles()">
            Clear All &nbsp;
            <fa-icon [icon]='["fas", "trash"]'></fa-icon>
          </div>
          <ng-container *ngFor="let resource of resourceInfos; let i= index">
            <div class="col-6 mb-2">
              <div class="row ml-1">
              <span
                class="col-10 d-flex justify-content-between align-items-center selec-file-label">{{ resource.resourceName }}</span>
                <span class="col-2 cursor-pointer selec-file-delete-badge" (click)="deleteResource(i)">
              <fa-icon [icon]='["fas", "trash"]'></fa-icon>
            </span>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>

    </div>

    <!--  Load Resource List to Select already Uploaded Files      -->
    <div class="col-4">
      <app-table [gridTitle]="'My Resources'"
                 [pageSize]="5"
                 [triggerRefresh]="triggerRefresh"
                 [dataGridConfigurer]="myTaskDataGridConfigurer"
                 (rowSelected)="onGridResourceSelection($event)">
      </app-table>
    </div>

  </div>

</div>
