<div class="row">

  <div class="col-5">
    <app-my-task-board-list (taskSelected)="onTaskSet($event)"></app-my-task-board-list>
  </div>

  <div class="col-7">

    <app-card>
      <div class="card-header">
        <fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>
        Selected Task
      </div>
      <div class="card-body">
        <app-my-task-view *ngIf="selectedTask" [task]="selectedTask"></app-my-task-view>
      </div>
    </app-card>
  </div>

</div>

<ng-container *ngTemplateOutlet="messageBlock"></ng-container>

<div *ngIf="editTask" class="row">

  <div class="col-12">
    <div class="card-body">
      <app-my-task-submission [task]="editTask" (taskSubmission)="taskSubmission($event)"></app-my-task-submission>
    </div>
  </div>

</div>

<ng-template #messageBlock>
  <div *ngIf="!!responseMessage">

    <ngb-alert [type]="hasError ? 'danger' : 'info'" (close)="closeAlert()">
      {{ responseMessage }}
    </ngb-alert>
  </div>
</ng-template>
