<div *ngIf="task">

  <div class="row">
    <div class="col-12">
      <div class="profile-img text-secondary">
        <!--      <img src="assets/image/placehold450.png" class="employee-profile-img" alt="profile image"/>-->
      </div>
    </div>

    <div class="col-12">
      <h5>Title: <span class="font-weight-bold text-success">{{task.title}}</span></h5>

      <hr/>

      <p>Description: {{task.description}}</p>
      <p>Status: {{task.status}}</p>
      <p>Starting Date : <span>{{task.startDate | date :'medium'}}</span></p>
      <p>End Deadline : <span>{{task.endDate | date :'medium'}}</span></p>
    </div>
  </div>


  <div class="row border-top">
    <div class="col-4 mt-3">

      <div *ngIf="task.assignedTo" class="col-12 border-right">
        <h5 class="text-success">Assigned To</h5>
        <p><span>Full Name: </span>
          <a class="pl-2 btn-link" [routerLink]="API_ROUTES.USER_DETAILS + '/' + task.assignedTo.id">
            <span>{{task.assignedTo.fullName}}</span>
          </a>
        </p>
        <p>Status: {{task.assignedTo.status}}</p>
      </div>

      <div *ngIf="task.reportTo" class="col-12">
        <h5 class="text-success">Report To</h5>
        <p>Full Name:
          <a class="pl-2 btn-link" [routerLink]="API_ROUTES.USER_DETAILS + '/' + task.reportTo.id">
            <span>{{task.reportTo.fullName}}</span>
          </a>
        </p>
        <p>Status: {{task.reportTo.status}}</p>
      </div>

    </div>

    <div *ngIf="task.taskResources.length > 0" class="col-8 p-1">
      <ol>
        <ng-container *ngFor="let resource of task.taskResources; let i= index">
          <div class="d-flex flex-row mb-2 border p-2">
            <span class="border p-2 bg-secondary text-white mr-2">{{i + 1}}</span>
            <span class="h6 btn-link flex-grow-1 align-self-center cursor-pointer" (click)="downloadResource(resource, true)">
              s{{ resource.resourceName }} </span>
            <button class="btn btn-secondary btn-sm cursor-pointer" (click)="downloadResource(resource, true)">
              <fa-icon [icon]='["fas", "table"]'></fa-icon> View
            </button>
            <button class="ml-1 btn btn-secondary btn-sm cursor-pointer" (click)="downloadResource(resource, false)">
              <fa-icon [icon]='["fas", "download"]'></fa-icon> Download
            </button>
          </div>
        </ng-container>
      </ol>
    </div>

  </div>

</div>
